
.page {
  position: relative;
}

ul {
  padding-inline-start: 0;
}

/* Filters component */

.filtersComponent {
  padding-top: 70%;
  font-size: 1.2em;
  text-align: center;
  list-style: none;
  white-space: nowrap;
}

.filtersComponent button {
  border: 0;
}

.filtersComponent li {
  list-style: none;
}

.filtersComponent div {
  display: inline;
}

.filtersComponent .filterCategory li {
  text-align: center;
  display: inline;
  padding: 0 8%;
}

.filterList {
  padding: 0 8%;
  text-align: center;
}

/* Image component */

.imageComponent {
  margin-top: 10%;
  position: relative;
  width: 100%;
}

.imageComponent button {
  margin-top: 30%;
  position: absolute;
  color: gray;
  transform: scale(0.6, 1.5);
  font-size: 1.5em;
  z-index: 99;
}

.imageComponent button:hover {
  color: black;
}

.imageComponent .left {
  left: -7%;
}

.imageComponent .right {
  right: -7%; 
}

.imageComponent img {
  top: 10%;
  opacity: 1;
  width: 100%;
  position: absolute;
}
